server-gateway/target/
server-registry/target/
server-identity/target/
payment-server/target/
order-server/target/

### IntelliJ IDEA ###
.idea/
server-gateway/.idea/
server-registry/.idea/
server-identity/.idea/
payment-server/.idea/
order-server/.idea/

server-gateway/*.iws
server-gateway/*.iml
server-gateway/*.ipr
server-registry/*.iws
server-registry/*.iml
server-registry/*.ipr
server-identity/*.iws
server-identity/*.iml
server-identity/*.ipr
payment-server/*.iws
payment-server/*.iml
payment-server/*.ipr
order-server/*.iws
order-server/*.iml
order-server/*.ipr